.fa-star {
    margin: 0.5rem;
    font-size: 26px;
    color: gold;
}

span {
    display: inline-block;
    margin: 0.5rem;
    text-align: center;
    background-color: #ccc;
    width: 26px;
    border-radius: 50%;
    cursor: pointer;
}
.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
}
.used {
    background-color:#aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}